<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="$HOME/map/2d_localization/map.yaml" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find marmorf_localization)/launch/amcl.launch" />

</launch>
