<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>

  <arg name="map_file" default="$(env HOME)/map/2d_localization/map.yaml" />

  <include file="$(find marmorf_sensing)/launch/all.launch" />

  <include file="$(find marmorf_description)/launch/description.launch" />

  <include file="$(find marmorf_localization)/launch/amcl_with_map.launch" >
    <arg name="map_file" value="$(arg map_file)"/>
  </include>


</launch>
