<?xml version="1.0"?>
<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(env MARMORF_DESCRIPTION)'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="use_tf_static" value="false" />
  </node>

</launch>
