<?xml version="1.0"?>
<robot name="marmorf_decorations" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="marmorf_decorate">

    <xacro:if value="$(optenv marmorf_TOP_PLATE_ENABLED true)">
      <!-- Spawn the top plate -->
      <link name="top_plate_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://marmorf_description/meshes/top_plate.dae" />
          </geometry>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://marmorf_description/meshes/top_plate.dae" />
          </geometry>
        </collision>
        <collision>
          <!-- Extra collision tag for widgets on top plate -->
          <geometry>
            <box size="0.32 0.41 0.09" rpy="0 0 0"/>
          </geometry>
        </collision>
      </link>

      <!-- Attach top plate -->
      <joint name="top_plate_joint" type="fixed">
        <parent link="base_link" />
        <child link="top_plate_link"/>
        <origin xyz="0.0812 0 0.245" rpy="0 0 0"/>
      </joint>
    </xacro:if>

  </xacro:macro>

</robot>
