<launch>
    <node name="miivii_video_encode" pkg="miivii_video_encode" type="miivii_video_encode_node" output="screen">

        <param name="channel_count" value="4" />

        <param name="encoder_pixfmt0" value="H264" />
        <param name="image_width0" value="1280" />
        <param name="image_height0" value="720" />
        <param name="in_topic_name0" value="/camera_perception/perception/front/image_raw" />
        <param name="in_file_path0" value="" />
        <param name="out_topic_name0" value="/miivii_video_ros/encode0" />
        <param name="out_file_path0" value="" />
        <param name="ROI_Param_file_path0" value="" />
        <param name="Recon_Ref_file_path0" value="" />
        <param name="RPS_Param_file_path0" value="" />
        <param name="Hints_Param_file_path0" value="" />
        <param name="GDR_Param_file_path0" value="" />
        <param name="GDR_out_file_path0" value="" />
        <param name="bitrate0" value="2000000" />
        <param name="peak_bitrate0" value="0" />
        <param name="profile0" value="baseline" />
        <param name="ratecontrol0" value="cbr" />
        <param name="iframe_interval0" value="25" />
        <param name="idr_interval0" value="25" />
        <param name="level0" value="5.1" />
        <param name="fps_n0" value="25" />
        <param name="fps_d0" value="1" />
        <param name="temporal_tradeoff_level0" value="0" />
        <param name="hw_preset_type0" value="0" />
        <param name="slice_length_type0" value="0" />
        <param name="slice_length0" value="0" />
        <param name="virtual_buffer_size0" value="0" />
        <param name="num_reference_frames0" value="0" />
        <param name="slice_intrarefresh_interval0" value="0" />
        <param name="num_b_frames0" value="0" />
        <param name="nMinQpI0" value="-1" />
        <param name="nMaxQpI0" value="-1" />
        <param name="nMinQpP0" value="-1" />
        <param name="nMaxQpP0" value="-1" />
        <param name="nMinQpB0" value="-1" />
        <param name="nMaxQpB0" value="-1" />
        <param name="sMaxQp0" value="51" />
        <param name="insert_sps_pps_at_idr0" value="true" />
        <param name="insert_vui0" value="false" />
        <param name="enable_extended_colorformat0" value="false" />
        <param name="insert_aud0" value="false" />
        <param name="alliframes0" value="false" />
        <param name="output_memory_type0" value="3" />
        <param name="report_metadata0" value="true" />
        <param name="input_metadata0" value="false" />
        <param name="copy_timestamp0" value="false" />
        <param name="start_ts0" value="0" />
        <param name="dump_mv0" value="false" />
        <param name="externalRPS0" value="false" />
        <param name="enableGDR0" value="false" />
        <param name="bGapsInFrameNumAllowed0" value="false" />
        <param name="bnoIframe0" value="false" />
        <param name="nH264FrameNumBits0" value="0" />
        <param name="nH265PocLsbBits0" value="0" />
        <param name="externalRCHints0" value="false" />
        <param name="enableROI0" value="false" />
        <param name="b_use_enc_cmd0" value="false" />
        <param name="enableLossless0" value="false" />
        <param name="got_eos0" value="false" />
        <param name="use_gold_crc0" value="false" />
        <param name="bReconCrc0" value="false" />
        <param name="rl0" value="0" />
        <param name="rt0" value="0" />
        <param name="rw0" value="0" />
        <param name="rh0" value="0" />
        <param name="runtime_params_str0" value="" />
        <param name="stress_test0" value="1" />
        <param name="max_perf0" value="0" />
        <param name="blocking_mode0" value="true" />

        <param name="encoder_pixfmt1" value="H264" />
        <param name="image_width1" value="1280" />
        <param name="image_height1" value="720" />
        <param name="in_topic_name1" value="/camera_perception/perception/left/image_raw" />
        <param name="in_file_path1" value="" />
        <param name="out_topic_name1" value="/miivii_video_ros/encode1" />
        <param name="out_file_path1" value="" />
        <param name="ROI_Param_file_path1" value="" />
        <param name="Recon_Ref_file_path1" value="" />
        <param name="RPS_Param_file_path1" value="" />
        <param name="Hints_Param_file_path1" value="" />
        <param name="GDR_Param_file_path1" value="" />
        <param name="GDR_out_file_path1" value="" />
        <param name="bitrate1" value="2000000" />
        <param name="peak_bitrate1" value="0" />
        <param name="profile1" value="baseline" />
        <param name="ratecontrol1" value="cbr" />
        <param name="iframe_interval1" value="25" />
        <param name="idr_interval1" value="25" />
        <param name="level1" value="5.1" />
        <param name="fps_n1" value="25" />
        <param name="fps_d1" value="1" />
        <param name="temporal_tradeoff_level1" value="0" />
        <param name="hw_preset_type1" value="0" />
        <param name="slice_length_type1" value="0" />
        <param name="slice_length1" value="0" />
        <param name="virtual_buffer_size1" value="0" />
        <param name="num_reference_frames1" value="0" />
        <param name="slice_intrarefresh_interval1" value="0" />
        <param name="num_b_frames1" value="0" />
        <param name="nMinQpI1" value="-1" />
        <param name="nMaxQpI1" value="-1" />
        <param name="nMinQpP1" value="-1" />
        <param name="nMaxQpP1" value="-1" />
        <param name="nMinQpB1" value="-1" />
        <param name="nMaxQpB1" value="-1" />
        <param name="sMaxQp1" value="51" />
        <param name="insert_sps_pps_at_idr1" value="true" />
        <param name="insert_vui1" value="false" />
        <param name="enable_extended_colorformat1" value="false" />
        <param name="insert_aud1" value="false" />
        <param name="alliframes1" value="false" />
        <param name="output_memory_type1" value="3" />
        <param name="report_metadata1" value="true" />
        <param name="input_metadata1" value="false" />
        <param name="copy_timestamp1" value="false" />
        <param name="start_ts1" value="0" />
        <param name="dump_mv1" value="false" />
        <param name="externalRPS1" value="false" />
        <param name="enableGDR1" value="false" />
        <param name="bGapsInFrameNumAllowed1" value="false" />
        <param name="bnoIframe1" value="false" />
        <param name="nH264FrameNumBits1" value="0" />
        <param name="nH265PocLsbBits1" value="0" />
        <param name="externalRCHints1" value="false" />
        <param name="enableROI1" value="false" />
        <param name="b_use_enc_cmd1" value="false" />
        <param name="enableLossless1" value="false" />
        <param name="got_eos1" value="false" />
        <param name="use_gold_crc1" value="false" />
        <param name="bReconCrc1" value="false" />
        <param name="rl1" value="0" />
        <param name="rt1" value="0" />
        <param name="rw1" value="0" />
        <param name="rh1" value="0" />
        <param name="runtime_params_str1" value="" />
        <param name="stress_test1" value="1" />
        <param name="max_perf1" value="0" />
        <param name="blocking_mode1" value="true" />

        <param name="encoder_pixfmt2" value="H264" />
        <param name="image_width2" value="1280" />
        <param name="image_height2" value="720" />
        <param name="in_topic_name2" value="/camera_perception/perception/right/image_raw" />
        <param name="in_file_path2" value="" />
        <param name="out_topic_name2" value="/miivii_video_ros/encode2" />
        <param name="out_file_path2" value="" />
        <param name="ROI_Param_file_path2" value="" />
        <param name="Recon_Ref_file_path2" value="" />
        <param name="RPS_Param_file_path2" value="" />
        <param name="Hints_Param_file_path2" value="" />
        <param name="GDR_Param_file_path2" value="" />
        <param name="GDR_out_file_path2" value="" />
        <param name="bitrate2" value="2000000" />
        <param name="peak_bitrate2" value="0" />
        <param name="profile2" value="baseline" />
        <param name="ratecontrol2" value="cbr" />
        <param name="iframe_interval2" value="25" />
        <param name="idr_interval2" value="25" />
        <param name="level2" value="5.1" />
        <param name="fps_n2" value="25" />
        <param name="fps_d2" value="1" />
        <param name="temporal_tradeoff_level2" value="0" />
        <param name="hw_preset_type2" value="0" />
        <param name="slice_length_type2" value="0" />
        <param name="slice_length2" value="0" />
        <param name="virtual_buffer_size2" value="0" />
        <param name="num_reference_frames2" value="0" />
        <param name="slice_intrarefresh_interval2" value="0" />
        <param name="num_b_frames2" value="0" />
        <param name="nMinQpI2" value="-1" />
        <param name="nMaxQpI2" value="-1" />
        <param name="nMinQpP2" value="-1" />
        <param name="nMaxQpP2" value="-1" />
        <param name="nMinQpB2" value="-1" />
        <param name="nMaxQpB2" value="-1" />
        <param name="sMaxQp2" value="51" />
        <param name="insert_sps_pps_at_idr2" value="true" />
        <param name="insert_vui2" value="false" />
        <param name="enable_extended_colorformat2" value="false" />
        <param name="insert_aud2" value="false" />
        <param name="alliframes2" value="false" />
        <param name="output_memory_type2" value="3" />
        <param name="report_metadata2" value="true" />
        <param name="input_metadata2" value="false" />
        <param name="copy_timestamp2" value="false" />
        <param name="start_ts2" value="0" />
        <param name="dump_mv2" value="false" />
        <param name="externalRPS2" value="false" />
        <param name="enableGDR2" value="false" />
        <param name="bGapsInFrameNumAllowed2" value="false" />
        <param name="bnoIframe2" value="false" />
        <param name="nH264FrameNumBits2" value="0" />
        <param name="nH265PocLsbBits2" value="0" />
        <param name="externalRCHints2" value="false" />
        <param name="enableROI2" value="false" />
        <param name="b_use_enc_cmd2" value="false" />
        <param name="enableLossless2" value="false" />
        <param name="got_eos2" value="false" />
        <param name="use_gold_crc2" value="false" />
        <param name="bReconCrc2" value="false" />
        <param name="rl2" value="0" />
        <param name="rt2" value="0" />
        <param name="rw2" value="0" />
        <param name="rh2" value="0" />
        <param name="runtime_params_str2" value="" />
        <param name="stress_test2" value="1" />
        <param name="max_perf2" value="0" />
        <param name="blocking_mode2" value="true" />

        <param name="encoder_pixfmt3" value="H264" />
        <param name="image_width3" value="1280" />
        <param name="image_height3" value="720" />
        <param name="in_topic_name3" value="/camera_perception/perception/rear/image_raw" />
        <param name="in_file_path3" value="" />
        <param name="out_topic_name3" value="/miivii_video_ros/encode3" />
        <param name="out_file_path3" value="" />
        <param name="ROI_Param_file_path3" value="" />
        <param name="Recon_Ref_file_path3" value="" />
        <param name="RPS_Param_file_path3" value="" />
        <param name="Hints_Param_file_path3" value="" />
        <param name="GDR_Param_file_path3" value="" />
        <param name="GDR_out_file_path3" value="" />
        <param name="bitrate3" value="2000000" />
        <param name="peak_bitrate3" value="0" />
        <param name="profile3" value="baseline" />
        <param name="ratecontrol3" value="cbr" />
        <param name="iframe_interval3" value="25" />
        <param name="idr_interval3" value="25" />
        <param name="level3" value="5.1" />
        <param name="fps_n3" value="25" />
        <param name="fps_d3" value="1" />
        <param name="temporal_tradeoff_level3" value="0" />
        <param name="hw_preset_type3" value="0" />
        <param name="slice_length_type3" value="0" />
        <param name="slice_length3" value="0" />
        <param name="virtual_buffer_size3" value="0" />
        <param name="num_reference_frames3" value="0" />
        <param name="slice_intrarefresh_interval3" value="0" />
        <param name="num_b_frames3" value="0" />
        <param name="nMinQpI3" value="-1" />
        <param name="nMaxQpI3" value="-1" />
        <param name="nMinQpP3" value="-1" />
        <param name="nMaxQpP3" value="-1" />
        <param name="nMinQpB3" value="-1" />
        <param name="nMaxQpB3" value="-1" />
        <param name="sMaxQp3" value="51" />
        <param name="insert_sps_pps_at_idr3" value="true" />
        <param name="insert_vui3" value="false" />
        <param name="enable_extended_colorformat3" value="false" />
        <param name="insert_aud3" value="false" />
        <param name="alliframes3" value="false" />
        <param name="output_memory_type3" value="3" />
        <param name="report_metadata3" value="true" />
        <param name="input_metadata3" value="false" />
        <param name="copy_timestamp3" value="false" />
        <param name="start_ts3" value="0" />
        <param name="dump_mv3" value="false" />
        <param name="externalRPS3" value="false" />
        <param name="enableGDR3" value="false" />
        <param name="bGapsInFrameNumAllowed3" value="false" />
        <param name="bnoIframe3" value="false" />
        <param name="nH264FrameNumBits3" value="0" />
        <param name="nH265PocLsbBits3" value="0" />
        <param name="externalRCHints3" value="false" />
        <param name="enableROI3" value="false" />
        <param name="b_use_enc_cmd3" value="false" />
        <param name="enableLossless3" value="false" />
        <param name="got_eos3" value="false" />
        <param name="use_gold_crc3" value="false" />
        <param name="bReconCrc3" value="false" />
        <param name="rl3" value="0" />
        <param name="rt3" value="0" />
        <param name="rw3" value="0" />
        <param name="rh3" value="0" />
        <param name="runtime_params_str3" value="" />
        <param name="stress_test3" value="1" />
        <param name="max_perf3" value="0" />
        <param name="blocking_mode3" value="true" />

    </node>

    <include file="$(find miivii_video_stream)/launch/4_h264_to_rtsp.launch" />
</launch>

